.emp-image{
    height: 250px;
    width: 250px;
    border-radius: 122px;
}
.emp-list{
    /* background-color: aqua; */
    height: auto;
    width: 250px;
    float: left;
    margin-top: 10px;
   }
.emp-list-item{
    margin: 20px;
}
.image-div{
    float: right;
    width: 500px;
    height: auto;
    margin-top: 10px;
}
.main{
    color: blue;
    font-style: italic;
    display: flex
}